body{
  font-size: 20px;
    
}
a:link{
    
}
a:visited{
   
}

header{
    align-items: center;
    background-color: lightgoldenrodyellow;
    height: 40vh;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:center;
}
#about{
    width: 30%; 
    height: 25vh; 
    overflow: hidden; 
    background-color: 
    lightblue; 
    padding-left: 1vw
}


#center{
    background-color: pink;
    text-align: center;    
}


footer{
    text-align: center;
}
h1{
    
    color: blue;
    
}
h2{
    font-size: 3em;
}
.display{
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.showcase{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 5%;
    margin-right: 5%;
    box-shadow: 5px 5px 5px gray;
    border-radius: 5px;
    text-align: center;
    background-color: lightblue;
    width: 220px;
    height: 350px;
    
}
.showcase:hover{
    box-shadow: 7px 7px 5px gray;
}
.cover{
    display: block;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: 200px;
    border: solid 2px white;
}

.bottomtext{
    
}
#links{
    background-color: lightgoldenrodyellow;
}
footer{
    height: 20vh;
    background-color: lightgray;
}


