body{
    
}
header{
    text-align: center;
}


#center{
    background-color: pink;
    
}


footer{
    text-align: center;
}
h1{
    
    color: blue;
    
}
.cover{
    width: 200px;
    height: 200px;
}
.display{
    display: flex;
}
