body{
  
    
}
a:link{
    
}
a:visited{
   
}
header{
    text-align: center;
}


#center{
    background-color: pink;
    text-align: center;    
}


footer{
    text-align: center;
}
h1{
    
    color: blue;
    
}
.display{
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.showcase{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 5%;
    margin-right: 5%;
    border: solid 2px black;
    border-radius: 5px;
    text-align: center;
    background-color: lightblue;
    width: 220px;
    height: 350px;
    
}
.cover{
    display: block;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: 200px;
}
.bottomtext{
    
}
footer{
    height: 20vh;
    background-color: lightgray;
}
