body{
padding-left: 10vw;
padding-right: 10vw;
background-color: #2E2E38;
  font-size: 20px;
  font-family:"Open Sans";
  font-weight: 500;
}
a:link{
    
}
a:visited{
   
}

header{
    align-items: center;
    background-color: lightgoldenrodyellow;
    height: 40vh;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:center;
}
#about{
    width: 30%; 
    height: 25vh; 
    overflow: hidden; 
    background-color: 
    #C4AF9A; 
    padding-left: 1vw
}


#center{
    background-color: #81AE9D;
    text-align: center;    
}


footer{
    text-align: center;
}
h1{
    
    color: blue;
    
}
h2{
    font-size: 3em;
}
.display{
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.divcase{
    color: black;
    padding-top: 1px;
    margin-bottom: 10px;
    margin-left: 5%;
    margin-right: 5%;
    box-shadow: 5px 5px 5px gray;
    border-radius: 5px;
    text-align: center;
    background-color:  #C4AF9A;
    width: 220px;
    height: 350px;
    
}
.divcase:hover{
    box-shadow: 7px 7px 5px gray;
    
}
.showcase:hover{
    text-decoration: none;
}
.cover{
    display: block;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: 200px;
    border: solid 2px #81AE9D;
}

.bottomtext{
    
}
#links{
    background-color: lightgoldenrodyellow;
    
}
#linkflex{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}
#linkflex>span{
    text-align: center;
    width: 40%;
    display: inline-block;
}
footer{
    height: 20vh;
    background-color: #FB9F89;
}

.software>img{
    border-radius: 2px;
    
}

